* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 20px auto;
  padding: 10px;
}

.todo-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #fefae0;
}

.todo-head h4 {
  width: 40%;
  margin-left: 50%;
  margin-bottom: 0;
  transform: translateX(-50%);
  text-align: center;
  font-weight: bolder;
  color: #283618;
}

.header-btn {
  width: 18%;
  display: flex;
  justify-content: space-between;
}

.create-new {
  padding: 1px 10px;
  border-radius: 3px;
  text-decoration: none;
  font-weight: bolder;
  background-color: #606c38;
  color: aliceblue;
}

.logout {
  padding: 1px 10px;
  border-radius: 3px;
  text-decoration: none;
  font-weight: bolder;
  background-color: #bc6c25;
  color: aliceblue;
}

/* add.hbs */
.todo-add-form {
  width: 70%;
  margin: 10px auto;
}

.todo-add-form div, .todo-edit-form div {
  margin: 5px 0 20px 0;
}

.todo-title, .todo-dueDate {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.col-form-label {
  padding: 0;
}

.add-btn-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.add-btn-box a {
  text-decoration: none;
  width: 20%;
  text-align: center;
  color: aliceblue;
  background-color: cornflowerblue;
  border-radius: 3px;
  font-weight: bolder;
}

.add-btn-box button {
  width: 20%;
  border: none;
  border-radius: 3px;
  background-color: cadetblue;
  color: aliceblue;
  font-weight: bolder;
}

#todo-title, #dueDate {
  padding: 2px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 3px 12px 0 rgba(20, 20, 20, 0.5);
}

/* index.hbs */
.todo-lists {
  color: #283618;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 12px;
}

.todo-item-box, .todo-done-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}

.todo-name {
  width: 60%;
}

.todo-content {
  color: #284b63;
  font-weight: bolder;
  font-size: 18px;
}

.todo-btn {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.todo-deadline, .todo-edit-btn, .todo-done-btn, .todo-delete-btn, .todo-done-btn, .delete-submit {
  width: 23%;
  color: aliceblue;
  font-size: 15px;
  font-weight: bolder;
  text-align: center;
  border: none;
  border-radius: 3px;
  text-decoration: none;
}

.delete-confirm-btn {
  border: none;
  background-color: #c1121f;
  width: 100%;
  border-radius: 3px;
  color: aliceblue;
  font-weight: bolder;
}

.todo-deadline {
  background-color: #669bbc;
}

.todo-edit-btn {
  background-color: #e29578;
}

.todo-done-btn {
  background-color: #006d77;
}

.todo-delete-btn {
  background-color: #c1121f;
}